.lista {
    list-style: none;
    display: flex; 
    align-items: center;
    padding-left: 25px; 
    margin-bottom: 25px;
    font-family: cursive;
    position: relative; 
}

.lista::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute; 
    left: 0;
    top: 25%;
    display: block;
    background-image: url("../img/flecha_lista-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.editar {
    margin-left: auto;
    margin-right: 5px; 
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../img/editar-removebg-preview.png");
    background-size: contain;
}

.eliminar{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../img/eliminar-removebg-preview.png");
    background-size: contain;
}

.guardarCambios {
    margin-left: auto;
    margin-right: 5px; 
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.cancelar{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../img/negacion.png");
    background-size: contain;
}